div {
    width: 100%;
    border: 5px solid blue;
    background-color: cornflowerblue;
    float: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

div:nth-child(1){
    height: 80px;
}

div:nth-child(2){
    height: 80px;
}

div:nth-child(3){
    height: 80px;
}

div:nth-child(4){
    height: 80px;
}

div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8){
    width: 50%;
    height: 90px;
}

div:nth-child(9){
    height: 80px;
}

@media(min-width: 780px){
    body {
        max-width: 960px;
        margin: auto;
    }

    div{
        background-color: darkgoldenrod;
    }

    div:nth-child(1){
        height: 100px;
    }
    
    div:nth-child(2){
        height: 700px;
        width: 20%;
    }
    
    div:nth-child(3), div:nth-child(4){
        height: 120px;
        width: 40%;
    }
    
    div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8){
        width: 20%;
        height: 120px;
    }
    
    div:nth-child(9){
        height: 80px;
        width: 80%;
    }
}