* {
    background-color: aquamarine;
}

h1 {
    color: brown;
    background-color: chartreuse;
    border: coral 5px solid;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
}

.questions {
    background-color: burlywood;
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    border: 10px solid slategray;
    padding: 10px;
    box-shadow: 0 0 10px rgb(0, 39, 20);
    width: 500px;
    height: 100px;
}

nav {
    text-align: center;
}

li {
    width: 20%;
    align-items: center;
    display: inline-block;
    text-align: center;
    border: solid 5px sandybrown;
    box-sizing: border-box;
}

@media(min-width: 780px){
    main {
        background-color: steelblue;
    }

    li {
        background-color: teal;
        border: slateblue 5px dashed;
        color: snow;
    }

    h1{
        border: tomato 3px solid;
        color: wheat;
        background-color: slategray;
    }

    form table{
        background-color: violet;
    }

}